<script type="text/javascript" src="{{ SITEURL }}/theme/js/geturl.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/tables.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/navbar.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/theme/js/jquery-svg.js"></script>
