        <!-- finished game template -->
        <div class="card text-white game-card finished-game-card">
          <div class="card-body game-card-body finished-game-card-body">

            <div class="game-card-team1 finished-game-card-team1">
              <table width="100%">
                <tr>
                  <td> 
                    <h6 class="game-card-team-name-header">
                      <span class="team1color team1name">Team 1</span> <small><span class="team1color team1record">(W-L)</span></small>
                    </h6>
                  </td>
                  <td align="right">
                    <h6 class="game-card-team-name-header">
                      <span class="team1color livecells1">100</span>
                    </h6>
                  </td>
                </tr>
              </table>
            </div>

            <div class="game-card-team2 finished-game-card-team2">
              <table width="100%">
                <tr>
                  <td> 
                    <h6 class="game-card-team-name-header">
                      <span class="team2color team2name">Team 2</span> <small><span class="team2color team2record">(W-L)</span></small>
                    </h6>
                  </td>
                  <td align="right">
                    <h6 class="game-card-team-name-header">
                      <span class="team2color livecells2">2</span>
                    </h6>
                  </td>
                </tr>
              </table>
            </div>

            <div class="game-card-map finished-game-card-map">
              Map: <span class="map-name">Map Name</span>
            </div>

            <div class="game-card-map finished-game-card-map">
              <span class="generations-number"></span> Generations
            </div>

            <div class="game-card-map finished-game-card-simulate">
              <a href="#" style="margin-top: 20px;" role="button" class="simulate btn btn-primary btn-sm btn-success">View Simulation</a>
            </div>
          </div>
        </div>
