        <!-- postseason in progress template -->
        <div class="card text-white game-card inprogress-game-card postseason-game-card">
          <div class="card-body game-card-body inprogress-game-card-body postseason-game-card-body">
            <h5 class="card-title game-card-description postseason-game-card-description"><span class="postseason-game-description">Game _, _ Series</span></h5>

            <div class="game-card-team1 inprogress-game-card-team1">
              <h6 class="game-card-team-name-header">
                <span class="team1color team1name">Team 1</span> <small><span class="team1color team1seed">(0)</span></small>
              </h6>
            </div>
            <div class="game-card-team2 inprogress-game-card-team2">
              <h6 class="game-card-team-name-header">
                <span class="team2color team2name">Team 2</span> <small><span class="team2color team2seed">(0)</span></small>
              </h6>
            </div>
            <div class="game-card-map inprogress-game-card-map">
              Map: <span class="map-name">Map Name</span>
            </div>
            <div class="game-card-map inprogress-game-card-simulate">
              <a href="#" style="margin-top: 20px;" role="button" class="simulate btn btn-primary btn-sm btn-success">View Simulation</a>
            </div>
          </div>
        </div>
