    <div class="col-md-3 map-card-container">
      <div class="card text-white bg-primary mb-3 map-card">
        <div class="card-header map-card-header"><span class="map-card-map-name"></span><br />
        <span class="invisible badge badge-info map-badge-season"></span>
        <span class="invisible badge badge-warning map-badge-new">NEW</span>
        <span class="invisible badge badge-warning map-badge-retired">RETIRED</span>
        </div>
        <div class="card-body">
          <img class="map-card-image" width="100%" src="" />
          <p class="card-text map-card-description-text"><span class="map-card-description"></span></p>
        </div>
        <div class="map-card-simulate justify-content-lg-center text-center">
          <a href="#" role="button" class="simulate btn btn-primary btn-sm btn-success">Sandbox</a>
        </div>
      </div>
    </div>
