        <!-- scheduled game template -->
        <div class="card text-white game-card scheduled-game-card">
          <div class="card-body game-card-body scheduled-game-card-body">
            <div class="game-card-team1 scheduled-game-card-team1">
              <h6 class="game-card-team-name-header">
                <span class="team1color team1name">Team 1</span> <small><span class="team1color team1record">(W-L)</span></small>
              </h6>
            </div>
            <div class="game-card-team2 scheduled-game-card-team2">
              <h6 class="game-card-team-name-header">
                <span class="team2color team2name">Team 2</span> <small><span class="team2color team2record">(W-L)</span></small>
              </h6>
            </div>
            <div class="game-card-map scheduled-game-card-map">
              Map: <span class="map-name">Map Name</span>
            </div>
          </div>
        </div>
