  <div class="season-day-container">
    <div class="row text-center season-day-header">
      <div class="col-md-12">
          <a class="season-day-anchor"></a>
          <h2>Day <span class="season-day"></span></h2>
      </div>
    </div>

    <div class="row season-day-body">

      <div class="col-md-6 league-container season-league-container league-1-container">
        <h4 class="text-center league-container-header league-1-header"><span class="league-1-name"></span></h4>
      </div>

      <div class="col-md-6 league-container season-league-container league-2-container">
        <h4 class="text-center league-container-header league-2-header"><span class="league-2-name"></span></h4>
      </div>

    </div>
  </div>
